/**Footer styles for IGN base template***/

@mixin shadow(){
	-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:    0px 1px 4px 0px rgba(0, 0, 0, 0.7);
	box-shadow:         0px 1px 4px 0px rgba(0, 0, 0, 0.7);
}

footer.tab-bar {
	a {
		&:hover {
			text-decoration: underline;
		}
	}

	height: 260px;

	.row {
		height: 260px;
	}

	img {
		margin: 35px 20px 20px;
		border-radius: 3px;
		@include shadow();
	}

	ul {
		list-style: none;
		margin-left: 10px;

		li {
			font-size: 12px;
			font-weight: 600;
			margin-bottom: 10px;

			p {
				color: #000;
				font-size: 12px;
				font-weight: 600;
				margin-bottom: 10px;
				margin-top: 32px;
			}
		}
	}

	.ign_red-wrapper {
		ul {
			margin-right: 20px;
			float: right;
			width: 100%;

			li {
				text-align: right;
				margin-bottom: 10px;

				a {
					color: white;
					font-weight: 400;
				}
			}
		}
	}
}

/**policy notice**/

#policyNotice {
   bottom: 2px;
  left: 50%;
  margin-left: -35%;
  width: 70%;
}

#policyNotice, #policyNotice p, #policyNotice a {
    font-family: $body-font-family;
    font-size: 11px;
    line-height: 11px;
}

#policyNotice {
    background-color: #FFFFCE;
    border: 1px solid #000000;
    color: #000000;
    padding: 10px 10px 0;
    position: fixed;
    z-index: 999;
}

#policyNotice p {
	margin-bottom: 10px;
}

#policyNotice .close-btn {
    float: right;
    padding: 4px;
    position: relative;
    right: -8px;
    text-align: center;
    top: -5px;
}

#policyNotice a, #policyNotice a:visited {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

#policyNotice .close-btn a, #policyNotice .close-btn a:visited {
    color: #BA0D0D;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}
/**end policy notice**/



// Small screens

@media only screen and (max-width: 40em) { 

	footer.tab-bar ul li, footer.tab-bar ul li p {
		font-size: 10px;
	}
	

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 



} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */