/**override styles for ign base template**/

@font-face {
  font-family: 'trade';
  src: url('../fonts/TradeGothicLT-Extended.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TradeGothicLT-Extended.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/TradeGothicLT-Extended.woff') format('woff'), /* Modern Browsers */
       url('../fonts/TradeGothicLT-Extended.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/TradeGothicLT-Extended.svg') format('svg'); /* Legacy iOS */
}


@mixin marg(){
	margin: 50px auto 0px;
}

@mixin allumi(){
		font-family: 'trade', 'Open Sans', sans-serif;
		font-style: normal;
		font-weight: 100;
}

@mixin shadow(){
	-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:    0px 1px 4px 0px rgba(0, 0, 0, 0.7);
	box-shadow:         0px 1px 4px 0px rgba(0, 0, 0, 0.7);
}


/**base styles for each new project**/
body {
	background: black url(../img/otr_wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#no_age_cookie {
	display: none;
}

#start_modal p {
	border-bottom: 1px solid #ccc;
}

.alert-error {
	position: fixed;
	top: 0px;
	display: block;
	z-index: 999;
	margin-top: 60px;
	width: 50%;
	margin-left: -25%;
	left: 50%;

	li {
		-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
		-moz-box-shadow:    0px 0px 6px rgba(0, 0, 0, 1);
		box-shadow:         0px 0px 6px rgba(0, 0, 0, 1);
		text-align: center;
		padding: 0.375rem 1.5rem 0.375rem 0.875rem;
		margin-bottom: 0.7rem;
	}
}

.button {
	width: 100%;
	margin-bottom: 0px;
}

.main-section {
	min-height: 500px;

	.head img {
		@include shadow();
		@include marg();
	}

	h1, h2, h3, h4, h5, h6, p, a, .button, label {
		@include allumi();
	}

	label {
		font-size: 11px;
	}

	h1, h2, h3, h4, h5, h6 {
		text-transform: uppercase;
		text-align: center;
	}

	h1 {
		font-size: 22px;
		letter-spacing: 4px;
		text-align: center;
		padding-top: 30px;
		margin-bottom: 30px;
	}

	input[type=text] {
		font-family: $body-font-family;
	}

	h2 {
		font-size: 20px;
		padding: 15px 0px;

		&::before {
			content: "";
			display: block;
			height: 1px;
			width: 100%;
			background: black;
			float: left;
			width: 20%;
			margin-top: 13px;
		} 

		&::after {
			content: "";
			display: block;
			height: 1px;
			width: 100%;
			background: black;
			float: right;
			width: 20%;
			margin-top: 13px;
		}
	}

	.slider {
		padding: 2% 5% 5%;
		border-top: 1px solid #000;

		img {
			min-width: 100%;
			width: 100%;
			padding: 5%;
		}
	}

	.checkboxLabel {
		@include allumi();
	}

	.slick-dots {
		width: 95%;
		position: relative;
		bottom: -20px; 

		li button {

			&:before {
				font-size: 12px;

			}
		}
	}

	.comp_body .wrapper {
		min-height: 500px;
		background: white url(../img/texture_concrete.png) top center no-repeat;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		@include shadow();
		@include marg();
		margin-bottom: 120px;
		padding-bottom: 60px;
	}

	p {
		text-align: center;
		font-size: 13px;
		font-weight: 300;
	}

	label {
		font-weight: 600;
		font-size: 12px;
		display: inline;
	}

	.checkboxLabel {
		font-family: $body-font-family;
		font-weight: 600;
	}

	.button_wrapper {
		border: 3px solid #000;
		position: absolute;
		margin: auto;
		width: 80%;
		left: 50%;
		margin-left: -40%;
		margin-top: 25px;

		.button {
			border: 1px solid #fff;
		}
	}
}


.slick-dots li button:before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 12px;
	height: 12px;
	border: 1px solid black;
	border-radius: 50%;
	padding: 0px;
}

.slick-dots .slick-active button:before {
	background-color: black;
}

.main-section .slick-dots li button:before {
	opacity: 1;
}

.slick-slider {
	margin-bottom: 0px;
}
/**end base styles**/


// Small screens

@media only screen and (max-width: 40em) { 

	.main-section h2 {
		font-size: 18px;

		&::before {

			display: none;
		} 

		&::after {

			display: none;
		}
	}

	.main-section h1 {
		padding: 5% 2% 0%;
	}

	.slick-dots li {
		display: none;
	}

	body {
		background: black url(../img/otr_wallpaper.jpg) repeat-y center center fixed; 
	  -webkit-background-size: 150%;
	  -moz-background-size: 150%;
	  -o-background-size: 150%;
	  background-size: 150%;
	}


} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 

	.main-section h2 {
		font-size: 18px;

		&::before {

			width: 20%;
			margin-top: 13px;
		} 

		&::after {

			width: 20%;
			margin-top: 13px;
		}
	}

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */
